{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Admin Panel</h1>
    <a href="{{ path('post_index') }}"><button class="btn btn-primary"> Terug naar blog </button></a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titel</th>
                <th>Subtitel</th>
                <th>Publicatie Datum</th>
                <th>Afbeelding-url</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.titel }}</td>
                <td>{{ post.subtitel }}</td>
                <td>{{ post.publishdate ? post.publishdate|date('d-m-Y') : '' }}</td>
                <td>{{ post.imgUrl }}</td>
                <td>
                    <a href="{{ path('admin_show', {'id': post.id}) }}"><button class="btn btn-primary">Tonen</button></a>
                    <a href="{{ path('admin_edit', {'id': post.id}) }}"><button class="btn btn-warning">Aanpassen</button></a>
                    {{ include('admin/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Geen blogposts gevonden.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('admin_new') }}"><button class="btn btn-success">Nieuwe Blogpost</button></a>
{% endblock %}
