{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Microblog</h1>
        <div>
        {% for post in posts %}
                <h2><a href="{{ path('post_show', {'id': post.id}) }}">{{ post.titel }}</a></h2>
                <p>{{ post.publishdate ? post.publishdate|date('Y-m-d') : '' }}</p>
                <h4>{{ post.subtitel }}</h4>
                {{ post.content|slice(0, 160)|purify }}
                {% if post.imgUrl is not empty %}
                <td><img src="{{asset('uploads/images/' ~ post.imgUrl)}}"></td><br>
                {%endif%}
                <p>
                    <a href="{{ path('post_show', {'id': post.id}) }}"><button class="btn btn-primary">Lees Verder</button></a>
                </p>
                <hr>
        {% else %}
                <p>Geen blogposts gevonden.</p>
        {% endfor %}
    </div>
{% endblock %}
