{% extends 'base.html.twig' %}

{% block title %}{{post.titel}}{% endblock %}

{% block body %}

    <div id="test">
    <h1>{{ post.titel }}</h1>
        
    <p>{{ post.subtitel }}</p>
    <p>{{ post.publishdate ? post.publishdate|date('Y-m-d') : '' }}</p>
    {% if post.imgUrl is not empty %}
    <td><img src="{{asset('uploads/images/' ~ post.imgUrl)}}"></td>
    {%endif%}
    <p>{{ post.content }}</p>
    <a href="{{ path('post_index') }}">back to list</a>
    </div>
{% endblock %}
