{% extends 'base.html.twig' %}

{% block title %}{{post.titel}}{% endblock %}

{% block body %}


    <h1>{{ post.titel }}</h1>
    <p>Publicatie datum: {{ post.publishdate ? post.publishdate|date('d-m-Y') : '' }}</p>
    <h4>{{ post.subtitel }}</h4>
    {% if post.imgUrl is not empty %}
    <td><img src="{{asset('uploads/images/' ~ post.imgUrl)}}"></td>
    {%endif%}
    {{ post.content|purify }}
    <a href="{{ path('post_index') }}"><button class="btn btn-primary">Terug naar blog</button></a>

{% endblock %}
